@page "/tasklist"
@inject ITaskService TaskService

<h3>TaskList</h3>
<hr />
<a href="/addTaskPage" class="btn btn-info">Add Task</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Status</th>
            <th>Added Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in TaskService.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Category</td>
                <td>@task.Status</td>
                <td>@task.AddedTime.ToShortDateString()</td>
                <td>
                    <a href="/detailsPage/@task.Id" class="btn btn-primary">Details</a>
                    <a class="btn" style="background-color:limegreen">Edit</a>
                    <a class="btn btn-danger" @onclick="() => DeleteTask(task.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        await TaskService.GetAllTasks();
    }

    private async System.Threading.Tasks.Task DeleteTask(int id)
    {
        await TaskService.DeleteTask(id);
        await TaskService.GetAllTasks();
    }
}
